font-face {
    font-family: 'Work Sans';
    src: url('/fonts/WorkSans-Regular.woff2') format('woff2');
}

font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif.woff2') format('woff2');
}

* {
    background-color: #F3EAE2;
    color: #2B1D13;
    font-family: 'Work Sans', Arial, sans-serif;
}

a {
    font-style:normal;
    font-family: 'Noto Serif', 'Times New Roman', Times, serif;
    font-variant: normal;
    text-decoration: none;
}

a:active{
    color:#DDB892;
}

a.menu{
    margin:1rem;
}

.inline{
    color: #B08968;
}
h1{
    font-size: 3rem;
}

h2{
    font-size:2rem;
    margin: 1rem 0rem .25rem 0rem;
}

h3{
    font-size: 1.75rem;
    margin: 1rem 0rem .25rem 0rem;
}

h4{
    font-size: 1.5rem;
    margin: 1rem 0rem .25rem 0rem;
}

h5{
    font-size: 1.3rem;
    margin: 1rem 0rem .25rem 0rem;
}

.header_brand{
    margin-left: 1rem;
}

p, li{
    font-family: 'Noto Serif', 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

nav{
    font-size:1.5rem;
    margin-bottom: 1rem;
}

#title, #subtitle {
    border: 0rem;
    padding: 0rem;
    margin: 0rem;
}
#title{
    margin-top: 2.5rem;
}
#subtitle {
    margin-bottom: 1rem;
}


.hero_container{
    background-color: #DDB892;
    float: center;
    position: relative;
    overflow: hidden;
    margin: 0rem 0rem 1rem 0rem;
    border-radius: 0%;
}

.h_img{
    background-color: #DDB892;
}
.hero_image{
    background-color: #DDB892;
    height: auto;
    width: 100%;
    margin: 0rem 0rem 1rem 0rem;
}

.hero_title{
    background-color: #DDB892;
    color: #F3EAE2;
    margin: 1rem 0rem 0rem 1rem;
}

.hero_text{
    background-color: #DDB892;
    color: #2B1D13;
    margin-left: 1rem;
    text-align:left;
}

.hero_link{
    background-color: #7F5539;
    color: #F3EAE2;
    float: left;
    padding: 3rem;
    margin: 2rem;
    border-radius: 1rem;
    text-align:center;
    float: center;
}

hr{
    background-color: #7F5539;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.project_container_right{
    background-color: #DDB892;
    overflow: hidden;
    margin: 1rem 0rem 2rem 5rem;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

.project_container_left{
    background-color: #DDB892;
    overflow: hidden;
    margin: 1rem 5rem 2rem 0rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

.top_right, .bottom_right, .top_left, .bottom_left{
    overflow: hidden;
    background-color: transparent;
}


.p_img{
    background-color: #DDB892;
}
.project_image{
    background-color: #DDB892;
    overflow: hidden;
    width: auto;
    max-width: 30rem;
    height: auto;
    margin: 0rem 0rem 1rem 0rem;
}

.project_title{
    background-color: transparent;
    color: #F3EAE2;
    margin: 1rem 0rem 0rem 1rem;
}

.project_text{
    background-color: transparent;
    color: #2B1D13;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align:left;
}

.project_link{
    background-color: #7F5539;
    overflow: hidden;
    color: #F3EAE2;
    padding:2rem;
    margin: 0rem 1rem 1.5rem;
    border-radius: 1rem;
    text-align:center;
    float: left;
}

footer{
    background-color: #B08968;
    margin: 2rem 0rem 0rem;
    border: 1rem 0rem;
    padding: 1rem 0rem;
}

.footer_text{
    color: #F3EAE2;
    background-color: transparent;
    text-align: center;
}

.about, .resume, .case_study{
    margin: 1rem;
}

.content_section{
    margin: 0rem 0rem 2rem 0rem;
}

.content_text{
    margin: 0rem 0rem 1rem 0rem;
}

.diagram{
    background-color: white;
    width: 100%;
    height: auto;
    float: center;
    margin-top: .5rem;
}

.caption{
    font-size: .75rem;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.diagram_grid{
    margin-top: .5rem;
    margin-bottom: 1rem;
}
.row{
    overflow: hidden;
    width: 100%;
    margin:0rem;
}
.diagram_l{
    width: 50%;
    float: right;
    margin-left: 0rem;
}

.diagram_r{
    width: 50%;
    float: left;
    margin-right: 0rem;
}

/* for NPR Style Guides Testing
.diagram_1{
    width: 33.33%;
    float: left;
    margin: 0rem;
}
.diagram_2{
    width: 33.33%;
    float: center;
    margin: 0rem;
}
.diagram_3{
    width: 33.33%;
    float: right;
    margin: 0rem;
}
*/

video{
    width: 100%;
    height: auto;
    float: center;
    margin-top: .5rem;
    margin-bottom: 1rem;
}
